body {
    background-color: rgb(24, 19, 19);
    color: white;
}

header h1 {
    color: rgb(180, 180, 4);
}

section h2 {
    color: rgb(180, 180, 4);
}

dl {
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
}